# Web Scraping

Scrape from this website: https://en.wikipedia.org/wiki/List_of_accidents_and_incidents_involving_commercial_aircraft

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
import time
import pandas as pd
import json

# Part a (Extra Credit)

Write a scraper that will produce a pandas dataframe containing the following columns:

    When the accident occurred (year, month, and day - use a datetime object)
    The short text description (everything to the right of the date)
    The link to the detail page.

If you choose not to do the extra credit assignment, you can start the assignment from a csv file which contains the description and the link for each page. Read this csv file into a pandas DataFrame as a starting point for part b.

In [2]:
# Below is my attempt to do part A, but basically I'm skipping it.

base_url = "https://en.wikipedia.org"
index_ref = "/wiki/List_of_accidents_and_incidents_involving_commercial_aircraft"
index_html = urlopen(base_url + index_ref)
index = BeautifulSoup(index_html, "lxml")
#print(index.prettify())

In [18]:
# Find the MONTH and DAY of each accident:

crashes = index.find_all("li")
master_dates = []

for crash in crashes:
    a = crash.get_text()
    b = re.split("[â€“-]", a)  # note to self, this expression includes long AND short hyphen
    master_dates.append(b[0].strip())

In [19]:
master_dates
# pretty close, but this list includes entries that are organized differently on the original page and
# therefore not extracted correctly.

['August 2',
 'April 7',
 'May 14',
 'August 27',
 'December 24',
 'August 18',
 'October 2',
 'August 22',
 'July 13',
 'June 17',
 'November 6',
 'February 10',
 'March 21',
 'March 31',
 'March 28',
 'October 10',
 'December 30',
 'May 9',
 'July 27',
 'October 2',
 'October 7',
 'December 10',
 'January 14',
 'April 7',
 'June 16',
 'August 5',
 'December 9',
 'December 27',
 'January 12',
 'February 19',
 'May 6',
 'November 16',
 'January 10',
 'January 11',
 'March 1',
 'July 28',
 'October 25',
 'November 4',
 'January 13',
 'January 21',
 'August 13',
 'June 14',
 'August 31',
 'November 8',
 'February 26',
 'January 16',
 'January 30',
 'March 3',
 'October 23',
 'January 21',
 'June 1',
 'July 28',
 'October 15',
 'February 10',
 'June 20',
 'January 8',
 'January 31',
 'July 12',
 'October 5',
 'November 3',
 'January 6',
 'March 10',
 'July 11',
 'August 7',
 'October 3',
 'November 14',
 'December 28',
 'January 11',
 'January 25',
 'January 26',
 'February 15',
 'May 29',
 'May 30',
 'June 13',
 'June 19',
 'August 2',
 'August 28',
 'October 24',
 'October 26',
 'December 27',
 'January 30',
 'March 12',
 'April 5',
 'April 15',
 'April 21',
 'June 17',
 'July 4',
 'July 17',
 'August 1',
 'August 29',
 'September 2',
 'October 2',
 'October 20',
 'December 28',
 'January 17',
 'February 19',
 'March 10',
 'May 4',
 'June 7',
 'July 2',
 'July 12',
 'August 19',
 'September 9',
 'October 28',
 'November 1',
 'November 20',
 'November 29',
 'January 5',
 'March 7',
 'March 12',
 '1950 Air France multiple Douglas DC',
 'June 12',
 'June 14',
 'June 24',
 'June 26',
 'August 31',
 'October 31',
 'November 3',
 'November 13',
 'April 25',
 'June 22',
 'June 30',
 'July 21',
 'August 24',
 'November 15',
 'December 16',
 'December 22',
 'December 29',
 'January 22',
 'February 11',
 'March 3',
 'April 11',
 'April 28',
 'June 28',
 'August 12',
 'December 6',
 'January 5',
 'February 2',
 'July 12',
 'August 3',
 'September 1',
 'September 16',
 'October 29',
 'January 10',
 'March 13',
 'April 8',
 'July 23',
 'September 5',
 'December 25',
 'January 12',
 'February 19',
 'March 26',
 'April 4',
 'April 11',
 'July 27',
 'October 6',
 'November 1',
 'February 18',
 'April 1',
 'April 2',
 'June 20',
 'June 24',
 'June 30',
 'July 9',
 'October 16',
 'November 7',
 'November 27',
 'December 9',
 'February 1',
 'March 14',
 'May 1',
 'July 16',
 'August 11',
 'November 8',
 'November 15',
 'February 6',
 'February 27',
 'April 6',
 'April 21',
 'May 25',
 'August 9',
 'August 14',
 'August 15',
 'September 2',
 'October 22',
 'December 4',
 'December 24',
 'January 8',
 'January 11',
 'February 3',
 'February 17',
 'April 23',
 'May 12',
 'June 26',
 'August 19',
 'September 24',
 'September 29',
 'October 30',
 'November 16',
 'November 21',
 'January 6',
 'January 18',
 'January 19',
 'January 21',
 'February 25',
 'March 17',
 'June 10',
 'July 15',
 'September 26',
 'October 4',
 'October 29',
 'December 16',
 'January 3',
 'February 15',
 'March 28',
 'April 3',
 'May 10',
 'May 30',
 'June 12',
 'July 11',
 'July 19',
 'August 9',
 'September 1',
 'September 11',
 'September 12',
 'September 17',
 'September 18',
 'September 23',
 'October 7',
 'November 8',
 'November 23',
 'November 30',
 'February 25',
 'March 1',
 'March 4',
 'March 8',
 'March 16',
 'May 6',
 'May 22',
 'June 3',
 'June 22',
 'June 30',
 'July 7',
 'July 19',
 'July 22',
 'November 23',
 'November 30',
 'December 19',
 'February 12',
 'July 2',
 'July 3',
 'July 27',
 'August 21',
 'September 4',
 'November 8',
 'November 29',
 'December 8',
 'February 25',
 'February 29',
 'May 7',
 'June 20',
 'July 9',
 'September 2',
 'November 15',
 'November 20',
 'November 23',
 'December 24',
 'February 6',
 'February 8',
 'April 14',
 'May 5',
 'May 20',
 'July 1',
 'July 8',
 'July 10',
 'August 16',
 'September 17',
 'November 8',
 'November 11',
 'November 11',
 'December 4',
 'January 15',
 'January 24',
 'January 28',
 'February 2',
 'February 4',
 'March 4',
 'March 5',
 'March 18',
 'April 22',
 'April 27',
 'August 6',
 'September 1',
 'September 22',
 'October 1',
 'November 13',
 'November 15',
 'November 24',
 'February 16',
 'March 5',
 'March 5',
 'March 9',
 'March 13',
 'April 20',
 'June 4',
 'June 23',
 'June 30',
 'July 19',
 'September 5',
 'October 12',
 'November 4',
 'November 6',
 'November 16',
 'November 20',
 'March 6',
 'March 24',
 'April 8',
 'April 20',
 'May 3',
 'May 22',
 'July 1',
 'July 3',
 'July 23',
 'August 14',
 'September 11',
 'October 25',
 'November 22',
 'December 2',
 'December 12',
 'December 24',
 'December 27',
 'December 31',
 'January 5',
 'January 6',
 'January 13',
 'January 18',
 'February 18',
 'February 24',
 'March 5',
 'March 16',
 'March 20',
 'April 2',
 'April 28',
 'June 4',
 'August 29',
 'September 9',
 'September 12',
 'November 19',
 'November 20',
 'December 4',
 'December 8',
 'January 5',
 'February 4',
 'February 15',
 'February 21',
 'March 31',
 'April 21',
 'May 2',
 'July 3',
 'July 5',
 'August 9',
 'August 12',
 'September 6',
 'October 2',
 'November 14',
 'January 22, 31',
 'May 23',
 'June 6',
 'June 7',
 'July 3',
 'July 30',
 'July 30',
 'September 4',
 'September 6',
 'October 2',
 'November 10',
 'November 24',
 'December 24',
 'January 7',
 'January 26',
 'February 22',
 'March 3',
 'March 14',
 'March 19',
 'May 5',
 'May 18',
 'June 12',
 'June 14',
 'June 15',
 'June 18',
 'June 24',
 'June 29',
 'August 14',
 'August 16',
 'September 24',
 'October 13',
 'October 13',
 'October 29',
 'November 15',
 'December 3',
 'December 8',
 'December 8',
 'December 20',
 'December 23',
 'December 29',
 'January 22',
 'January 29',
 'February 21',
 'March 3',
 'April 10',
 'May 31',
 'June 20',
 'July 11',
 'July 22',
 'July 23',
 'July 23',
 'July 31',
 'August 13',
 'September 11',
 'September 27',
 'September 30',
 'October 13',
 'November 3',
 'December 17',
 'January 26',
 'January 30',
 'March 3',
 'April 18',
 'April 22',
 'September 8',
 'September 11',
 'September 15',
 'November 20',
 'December 1',
 'December 4',
 'December 22',
 'January 9',
 'January 30',
 'March 31',
 'June 24',
 'August 3',
 'August 20',
 'August 30',
 'September 1',
 'September 24',
 'September 30',
 'October 30',
 'January 1',
 'January 3',
 'April 27',
 'June 1',
 'June 27',
 'July 28',
 'August 15',
 'September 10',
 'September 19',
 'October 6',
 'October 12',
 'November 23',
 'December 25',
 'January 15',
 'March 27',
 'April 4',
 'April 27',
 'May 14',
 'May 27',
 'September 27',
 'September 28',
 'October 13',
 'October 20',
 'November 19',
 'December 2',
 'December 4',
 'December 17',
 'December 18',
 'January 1',
 'February 11',
 'March 1',
 'March 3',
 'March 16',
 'April 20',
 'May 8',
 'June 26',
 'June 26',
 'August 30',
 'September 3',
 'September 25',
 'November 15',
 'December 23',
 'December 28',
 'January 30',
 'February 12',
 'March 13',
 'March 17',
 'March 29',
 'April 4',
 'May 25',
 'June 17',
 'July 11',
 'July 31',
 'August 11',
 'October 8',
 'October 31',
 'November 15',
 'November 26',
 'November 28',
 'December 23',
 'January 21',
 'February 21',
 'March 14',
 'April 12',
 'April 25',
 'April 27',
 'June 27',
 'July 7',
 'August 19',
 'September 12',
 'November 19',
 'November 21',
 'December 22',
 'March 28',
 'May 2',
 'May 7',
 'June 26',
 'July 20',
 'July 27',
 'August 13',
 'August 22',
 'August 24',
 'August 26',
 'October 6',
 'November 17',
 'December 1',
 'January 13',
 'January 23',
 'February 9',
 'March 11',
 'March 20',
 'March 26',
 'April 26',
 'June 8',
 'June 12',
 'June 21',
 'June 24',
 'June 28',
 'July 6',
 'July 9',
 'September 1',
 'September 13',
 'December 9',
 'December 24',
 'January 16',
 'March 11',
 'May 5',
 'June 2',
 'July 11',
 'July 16',
 'July 23',
 'August 30',
 'September 1',
 'September 23',
 'October 11',
 'November 8',
 'November 18',
 'November 27',
 'December 7',
 'December 18',
 'December 20',
 'January 10',
 'March 22',
 'August 5',
 'August 30',
 'October 11',
 'December 6',
 'December 23',
 'January 1',
 'January 21',
 'February 1',
 'February 19',
 'February 19',
 'May 3',
 'June 14',
 'June 21',
 'June 23',
 'July 10',
 'August 2',
 'August 12',
 'August 22',
 'August 25',
 'September 4',
 'September 6',
 'November 23',
 'December 12',
 'December 19',
 'March 31',
 'April 2',
 'May 3',
 'May 3',
 'June 18',
 'July 2',
 'August 31',
 'September 5',
 'October 20',
 'November 6',
 'December 12',
 'December 25',
 'January 3',
 'January 15',
 'January 16',
 'March 4',
 'April 4',
 'May 8',
 'May 9',
 'June 19',
 'June 27',
 'August 16',
 'August 31',
 'October 15',
 'November 15',
 'November 28',
 'November 29',
 'December 7',
 'December 13',
 'January 2',
 'January 18',
 'February 19',
 'March 4',
 'March 17',
 'April 5',
 'April 28',
 'May 6',
 'May 24',
 'June 12',
 'June 26',
 'July 3',
 'July 13',
 'August 31',
 'August 31',
 'September 9',
 'September 15',
 'October 17',
 'October 19',
 'November 2',
 'December 21',
 'January 8',
 'February 8',
 'February 19',
 'February 24',
 'March 10',
 'June 7',
 'July 19',
 'July 27',
 'August 3',
 'August 25',
 'September 3',
 'September 3',
 'September 8',
 'September 19',
 'September 20',
 'October 21',
 'October 26',
 'November 27',
 'December 15',
 'January 4',
 'January 16',
 'January 25',
 'February 14',
 'April 9',
 'April 12',
 'May 11',
 'June 10',
 'October 2',
 'November 14',
 'December 3',
 'February 1',
 'March 3',
 'March 26',
 'April 5',
 'May 26',
 'July 10',
 'July 11',
 'August 16',
 'September 11',
 'December 27',
 'December 29',
 'January 20',
 'March 22',
 'June 6',
 'July 24',
 'July 30',
 'July 31',
 'July 31',
 'September 28',
 'October 4',
 'October 18',
 'November 14',
 'November 24',
 'December 21',
 'December 22',
 'January 6',
 'February 8',
 'February 11',
 'March 5',
 'April 6',
 'April 18',
 'April 26',
 'May 19',
 'July 23',
 'July 26',
 'September 14',
 'September 21',
 'September 22',
 'October 26',
 'October 27',
 'November 4',
 'November 13',
 'November 20',
 'December 1',
 'January 3',
 'March 23',
 'April 4',
 'April 7',
 'April 26',
 'June 6',
 'July 2',
 'July 19',
 'August 21',
 'September 8',
 'October 12',
 'October 31',
 'November 22',
 'December 11',
 'December 21',
 'December 24',
 'December 29',
 'January 11',
 'January 19',
 'March 31',
 'June 9',
 'August 9',
 'August 21',
 'September 15',
 'November 12',
 'November 13',
 'December 3',
 'December 5',
 'December 7',
 'December 13',
 'December 18',
 'December 20',
 'January 8',
 'February 6',
 'February 29',
 'May 11',
 'June 9',
 'June 13',
 'July 6',
 'July 17',
 'August 19',
 'August 29',
 'October 2',
 'October 31',
 'November 7',
 'November 12',
 'November 19',
 'November 23',
 'January 9',
 'March 18',
 'May 8',
 'July 31',
 'August 6',
 'August 10',
 'September 3',
 'September 6',
 'September 26',
 'October 10',
 'December 15',
 'December 17',
 'December 19',
 'December 28',
 'February 2',
 'February 16',
 'March 19',
 'March 22',
 'April 20',
 'May 5',
 'May 25',
 'May 26',
 'August 24',
 'September 2',
 'September 25',
 'September 29',
 'October 10',
 'December 11',
 'February 24',
 'April 7',
 'June 1',
 'July 24',
 'August 22',
 'August 31',
 'September 14',
 'September 23',
 'October 31',
 'November 9',
 'December 7',
 'December 21',
 'December 22',
 'December 24',
 'December 25',
 'January 10',
 'January 30',
 'January 31',
 'March 5',
 'April 19',
 'June 22',
 'July 4',
 'July 8',
 'July 12',
 'July 17',
 'July 25',
 'August 23',
 'October 31',
 'December 20',
 'January 23',
 'January 31',
 'March 29',
 'July 4',
 'August 24',
 'August 29',
 'September 11',
 'American Airlines Flight 11, a Boeing 767',
 'United Airlines Flight 175, a Boeing 767',
 'American Airlines Flight 77, a Boeing 757',
 'United Airlines Flight 93, a Boeing 757',
 'October 4',
 'October 8',
 'November 12',
 'November 24',
 'December 22',
 'January 14',
 'January 16',
 'January 28',
 'February 12',
 'April 15',
 'May 4',
 'May 7',
 'May 7',
 'May 25',
 'July 1',
 'July 4',
 'July 10',
 'August 8',
 'October 9',
 'November 6',
 'November 11',
 'January 8',
 'January 8',
 'January 9',
 'March 6',
 'May 26',
 'May 29',
 'July 8',
 'November 22',
 'December 18',
 'December 25',
 'January 3',
 'February 10',
 'April 14',
 'August 13',
 'August 24',
 'Siberia Airlines Flight 1047, a Tupolev Tu',
 'Volga',
 'October 14',
 'October 19',
 'November 21',
 'November 30',
 'February 3',
 'February 20',
 'March 6',
 'March 16',
 'June 9',
 'July 16',
 'August 2',
 'August 6',
 'August 10',
 'August 14',
 'August 16',
 'August 23',
 'September 5',
 'September 5',
 'September 9',
 'September 21',
 'October 22',
 'December 8',
 'December 10',
 'December 19',
 'December 23',
 'May 3',
 'July 9',
 'July 10',
 'August 13',
 'August 22',
 'August 27',
 'September 1',
 'September 29',
 'October 3',
 'October 10',
 'October 29',
 'January 1',
 'January 9',
 'January 24',
 'February 21',
 'March 7',
 'March 17',
 'March 23',
 'May 5',
 'June 3',
 'June 21',
 'June 25',
 'June 28',
 'July 17',
 'August 9',
 'August 20',
 'August 26',
 'Scandinavian Airlines Dash 8 landing gear incidents:\n\nSeptember 9',
 'September 9',
 'September 12',
 'October 27',
 'September 16',
 'October 4',
 'November 30',
 'December 30',
 'January 4',
 'January 17',
 'February 8',
 'February 14',
 'February 21',
 'April 3',
 'April 11',
 'April 15',
 'May 30',
 'June 10',
 'July 25',
 'August 20',
 'August 24',
 'September 14',
 'October 7',
 'October 8',
 'November 10',
 'December 20',
 'January 15',
 'February 7',
 'February 12',
 'February 25',
 'March 12',
 'March 20',
 'March 23',
 'April 1',
 'April 19',
 'June 1',
 'June 30',
 'July 13',
 'July 15',
 'July 24',
 'August 2',
 'August 4',
 'August 11',
 'September 9',
 'October 21',
 'October 22',
 'November 12',
 'December 22',
 'December 25',
 'January 24',
 'January 25',
 'March 22',
 'April 13',
 'April 13',
 'April 13',
 'May 12',
 'May 17',
 'May 22',
 'June 20',
 'July 27',
 'July 28',
 'August 3',
 'August 16',
 'August 24',
 'August 24',
 'August 25',
 'September 3',
 'September 7',
 'September 13',
 'November 4',
 'November 4',
 'November 5',
 'November 11',
 'November 28',
 'December 4',
 'December 15',
 ...]

In [5]:
# Stopping work on Part A here, skipping to B

# Part b
Now write a code that clicks each link and scrapes additional content from the detailed page associated with each individual crash. <b>How will you ensure that you rate limit your requests to the target web server?</b> Once you have implemented this feature, scrape the content located in the right column of each details page and put it in a DataFrame:

    Number of passengers
    Number of crew
    Number of fatalities
    Number of survivors
    Registration
    Flight origin
    Destination

If there are multiple responses for passengers, just save the first one for simplicity. Similarly if there are not entries (e.g. for registration in the first link) then you can simply fill that entry in the DataFrame with 'No data'.

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/yarikan/assignments/master/crashes_no_extra_credit.csv?token=AQAvwPoHvvB10LrlYc1WBT1v4YSAtr0iks5W1h5ywA%3D%3D")
df

,Unnamed: 0,description,link
0,0,"A Caproni Ca.48 crashes at Verona, Italy, duri...",/wiki/1919_Verona_Caproni_Ca.48_crash
1,1,"In the first mid-air collision of airliners, a...",/wiki/First_mid-air_collision_of_airliners
2,2,An Air Union Farman F.60 Goliath crashes near ...,/wiki/May_1923_Air_Union_Farman_Goliath_crash
3,3,An Air Union Farman F.60 Goliath crashes near ...,/wiki/August_1923_Air_Union_Farman_Goliath_crash
4,4,An Imperial Airways de Havilland DH.34 crashes...,/wiki/1924_Imperial_Airways_de_Havilland_DH.34...
5,5,An Air Union BlÃ©riot 155 crashes while attempt...,/wiki/August_1926_Air_Union_Bl%C3%A9riot_155_c...
6,6,An Air Union BlÃ©riot 155 catches fire in mid-a...,/wiki/October_1926_Air_Union_Bl%C3%A9riot_155_...
7,7,"A KLM Fokker F. VIII crashes near Sevenoaks, K...",/wiki/1927_KLM_Fokker_F.VIII_crash
8,8,An Imperial Airways Vickers Vulcan crashes on ...,/wiki/1928_Imperial_Airways_Vickers_Vulcan_crash
9,9,An Imperial Airways Handley Page W.10 ditches ...,/wiki/1929_Imperial_Airways_Handley_Page_W.10_...
10,10,"A Junkers G 24 crashes near Marden Park, Godst...",/wiki/1929_Luft_Hansa_Junkers_G_24_crash
11,11,An Air Union Farman F.63 Goliath crashes while...,/wiki/1930_Air_Union_Farman_Goliath_crash
12,12,"Australian National Airways Southern Cloud, an...",/wiki/Southern_Cloud
13,13,"TWA Flight 599, a Fokker F.10 Trimotor, crashe...",/wiki/TWA_Flight_599
14,14,The 1933 Imperial Airways Dixmude crash in Bel...,/wiki/1933_Imperial_Airways_Dixmude_crash
15,15,The United Airlines crash near Chesterton: a B...,/wiki/1933_United_Airlines_Boeing_247_mid-air_...
16,16,In the 1933 Imperial Airways Ruysselede crash ...,/wiki/1933_Imperial_Airways_Ruysselede_crash
17,17,An Air France Wibault 282T crashes into the En...,/wiki/1934_Air_France_Wibault_282T_crash
18,18,A Swissair Curtiss T-32 Condor II crashes near...,/wiki/1934_Swissair_Tuttlingen_accident
19,19,A Hillman's Airways de Havilland Dragon Rapide...,/wiki/1934_Hillman%27s_Airways_de_Havilland_Dr...
20,20,"United Airlines Trip 4, a Boeing 247D, crashes...",/wiki/United_Airlines_Flight_4
21,21,A SABENA Savoia-Marchetti S.73 crashes crashes...,/wiki/1935_SABENA_Savoia-Marchetti_S.73_crash
22,22,"American Airlines Flight 1, a Douglas DC-2, cr...",/wiki/American_Airlines_Flight_1_(1936)
23,23,"TWA Flight 1, a Douglas DC-2, crashes near Uni...",/wiki/TWA_Flight_1
24,24,"In the HavÃ¸rn Accident, a Norwegian Air Lines ...",/wiki/Hav%C3%B8rn_Accident
25,25,"Chicago and Southern Flight 4, a Lockheed Mode...",/wiki/Chicago_and_Southern_Flight_4
26,26,A KLM Douglas DC-2 crashes on takeoff from Cro...,/wiki/1936_KLM_Croydon_accident
27,27,"United Airlines Trip 34, a Boeing 247, crashes...",/wiki/United_Airlines_Trip_34
28,28,"Western Air Express Flight 7, a Boeing 247, cr...",/wiki/Western_Air_Express_Flight_7
29,29,An Australian National Airways Stinson Model A...,/wiki/1937_Australian_National_Airways_Stinson...
...,...,...,...
1035,1035,"Asiana Airlines Flight 214, a Boeing 777, cras...",/wiki/Asiana_Airlines_Flight_214
1036,1036,A de Havilland Canada DHC-3 operated by Redisk...,/wiki/2013_Rediske_Air_Otter_crash
1037,1037,"UPS Airlines Flight 1354, an Airbus A300 freig...",/wiki/UPS_Airlines_Flight_1354
1038,1038,"Associated Aviation Flight 361, an Embraer 120...",/wiki/Associated_Aviation_Flight_361
1039,1039,"Lao Airlines Flight 301, an ATR-72, crashes sh...",/wiki/Lao_Airlines_Flight_301
1040,1040,"Tatarstan Airlines Flight 363, a Boeing 737, c...",/wiki/Tatarstan_Airlines_Flight_363
1041,1041,"LAM Mozambique Airlines Flight 470, an Embraer...",/wiki/LAM_Mozambique_Airlines_Flight_470
1042,1042,"Nepal Airlines Flight 183, a de Havilland Cana...",/wiki/Nepal_Airlines_Flight_183
1043,1043,"Ethiopian Airlines Flight 702, a Boeing 767, i...",/wiki/Ethiopian_Airlines_Flight_702
1044,1044,"Malaysia Airlines Flight 370, a Boeing 777 en ...",/wiki/Malaysia_Airlines_Flight_370
1045,1045,"Malaysia Airlines Flight 17, a Boeing 777 en r...",/wiki/Malaysia_Airlines_Flight_17
1046,1046,"TransAsia Airways Flight 222, an ATR-72 en rou...",/wiki/TransAsia_Airways_Flight_222
1047,1047,"Air AlgÃ©rie Flight 5017, a chartered Swiftair ...",/wiki/Air_Alg%C3%A9rie_Flight_5017
1048,1048,"Sepahan Airlines Flight 5915, a HESA IrAn-140 ...",/wiki/Sepahan_Airlines_Flight_5915
1049,1049,"Indonesia AirAsia Flight 8501, an Airbus A320 ...",/wiki/Indonesia_AirAsia_Flight_8501
1050,1050,"TransAsia Airways Flight 235, an ATR-72, stall...",/wiki/TransAsia_Airways_Flight_235
1051,1051,"Delta Air Lines Flight 1086, a McDonnell Dougl...",/wiki/Delta_Air_Lines_Flight_1086
1052,1052,"Germanwings Flight 9525, an Airbus A320, crash...",/wiki/Germanwings_Flight_9525
1053,1053,"Air Canada Flight 624, an Airbus A320, landed ...",/wiki/Air_Canada_Flight_624
1054,1054,"Asiana Airlines Flight 162, an Airbus A320, la...",/wiki/Asiana_Airlines_Flight_162
1055,1055,"Turkish Airlines Flight 1878, an Airbus A320, ...",/wiki/Turkish_Airlines_Flight_1878
1056,1056,"Trigana Air Service Flight 257, an ATR-42, cra...",/wiki/Trigana_Air_Service_Flight_257
1057,1057,"Ceiba Intercontinental Airlines Flight 71, a B...",/wiki/Ceiba_Intercontinental_Airlines_Flight_71
1058,1058,"British Airways Flight 2276, a Boeing 777-200,...",/wiki/British_Airways_Flight_2276
1059,1059,"Aviastar Flight 7503, a DHC-6 Twin Otter, cras...",/wiki/Aviastar_Flight_7503
1060,1060,"Dynamic Airways Flight 405, a 29-year-old Boei...",/wiki/Dynamic_Airways_Flight_405
1061,1061,"Metrojet Flight 9268, an Airbus A321 was blown...",/wiki/Metrojet_Flight_9268
1062,1062,"In the 2015 Juba An-12 crash, a cargo plane An...",/wiki/2015_Juba_An-12_crash
1063,1063,"West Air Sweden Flight 294, a Bombardier CRJ20...",/wiki/West_Air_Sweden_Flight_294
1064,1064,"Daallo Airlines Flight 159, an Airbus A321, en...",/wiki/Daallo_Airlines_Flight_159

In [7]:
# Writing function to extract details from the summary table regarding each crash

def extract_details(crash_html):    
    
    # whenever the extraction function fails, the following values will be assumed.
    passenger_count = 0  
    crew_count = 0
    fatality_count = 0
    survivor_count = 0
    registration = 'no data'
    flight_origin = 'no data'
    destination = 'no data'
    
    crash_details = BeautifulSoup(crash_html, "lxml")
    table = crash_details.find("table",{"class": "infobox vcard vevent"})
    
    if table != None:  # i.e., IF the table exists
        rows = table.find_all("tr")

        for r in rows:
            try:
                row_title = r.find("th").get_text().strip().lower()

                if row_title == 'passengers':

                    # grab the chunk of <td>
                    # grab the text inside <td>
                    td_data = r.find("td").get_text().strip()

                    # situation 1: is it a simple case, i.e., is there just a number 
                    if td_data.isnumeric():
                        passenger_count = int(td_data)
                    else: 
                    # situation 2: instead of number, it's words/brackets/multiple values
                        alt_result = re.search("\d+", td_data)  # search for a string with one or more numbers
                        if alt_result != None:  # i.e., if you DO find such a string...
                            passenger_count = int(alt_result.group(0))  # then choose the first result

                elif row_title == 'crew':
                    td_data = r.find("td").get_text().strip()
                    if td_data.isnumeric():
                        crew_count = int(td_data)
                    else:
                        alt_result = re.search("\d+", td_data)
                        if alt_result != None:
                            crew_count = int(alt_result.group(0))

                elif row_title == 'fatalities':
                    td_data = r.find("td").get_text().strip()
                    if td_data.isnumeric():
                        fatality_count = int(td_data)
                    else:
                        alt_result = re.search("\d+", td_data)
                        if alt_result != None:
                            fatality_count = int(alt_result.group(0))

                elif row_title == 'survivors':
                    td_data = r.find("td").get_text().strip()
                    if td_data.isnumeric():
                        survivor_count = int(td_data)
                    else:
                        alt_result = re.search("\d+", td_data)
                        if alt_result != None:
                            survivor_count = int(alt_result.group(0))

                elif row_title == 'registration':
                    td_data = r.find("td").get_text().strip()
                    if len(td_data) > 0:  # assure that the result of the previous line contains any data at all
                        registration = td_data

                elif row_title == 'flight origin':
                    td_data = r.find("td").get_text().strip()
                    if len(td_data) > 0:
                        flight_origin = td_data

                elif row_title == 'destination':
                    td_data = r.find("td").get_text().strip()
                    if len(td_data) > 0:
                        destination = td_data

            except:
                pass
            
    return {"Number of passengers": passenger_count,
            "Number of crew": crew_count,
            "Number of fatalities": fatality_count,
            "Number of survivors": survivor_count,
            "Registration": registration,
            "Flight origin": flight_origin,
            "Destination": destination}

In [8]:
# Slow down requests, add in some time delay between each link
def try_request(url):
    html = urlopen(url)
    time.sleep(1)
    return html

In [9]:
num_passengers = []    
num_crew = []
num_fatalities = []
num_survivors = []
registration = []
flight_origin = []
destination = []

# FYI the following takes about 30min to run and complete:

for url in df['link']:
    crash_html = try_request(base_url + url)
    details = extract_details(crash_html)
    num_passengers.append(details["Number of passengers"])
    num_crew.append(details["Number of crew"])
    num_fatalities.append(details["Number of fatalities"])
    num_survivors.append(details["Number of survivors"])
    registration.append(details["Registration"])
    flight_origin.append(details["Flight origin"])
    destination.append(details["Destination"])

In [10]:
# take the resulting lists and convert them into a dataframe:

scraped_df = pd.DataFrame({
        "Number of Passengers": num_passengers,
        "Number of Crew": num_crew,
        "Number of Fatalities": num_fatalities,
        "Number of Survivors": num_survivors,
        "Registration": registration,
        "Flight Origin": flight_origin,
        "Destination": destination})

In [11]:
scraped_df

,Destination,Flight Origin,Number of Crew,Number of Fatalities,Number of Passengers,Number of Survivors,Registration
0,"Taliedo, Milan, Italy","Venice, Italy",2,14,12,0,no data
1,"Le Bourget, Paris",Croydon,2,2,0,0,G-EAWO
2,"Croydon, Surrey, United Kingdom","Le Bourget, Paris, France",2,6,4,0,F-AEBY
3,"Croydon Airport, Surrey, United Kingdom","Le Bourget Airport, Paris, France",2,1,11,12,F-AECB
4,"Le Bourget, Paris, France","Croydon, Surrey, United Kingdom",1,8,7,0,G-EBBX
5,"Croydon Airport, Croydon, United Kingdom","Le Bourget Airport, Paris, France",2,3,13,12,F-AIEB
6,"Croydon Airport, Croydon, United Kingdom","Le Bourget Airport, Paris, France",2,7,5,0,F-AICQ
7,"Waalhaven Airport, Rotterdam",Croydon Airport,2,1,9,10,H-NADU
8,"Croydon Airport, England","Croydon Airport, England",1,4,5,2,G-EBLB
9,"Zurich Airport, Switzerland","Croydon Airport, United Kingdom",2,7,11,6,G-EBMT
10,Amsterdam-Schiphol Municipal Airport Netherlands,"Croydon Airport, Surrey, United Kingdom",3,7,5,1,D-903
11,Croydon Airport,"Le Bourget Airport, Paris",3,2,3,4,F-FHMY
12,no data,no data,2,8,6,0,VH-UMF
13,"Los Angeles, California","Kansas City, Missouri",2,8,6,0,NC999E
14,Croydon Airport,Brussels Airport,3,15,12,0,G-AACI
15,"Oakland, California","Newark, New Jersey",3,7,4,0,NC13304
16,"Croydon Airport, United Kingdom","Cologne Butzweilerhof Airport, Germany",2,10,8,0,G-ABLU
17,"Croydon, Surrey, United Kingdom","Le Bourget, Paris, France",3,6,3,0,F-AMHP
18,"Berlin Tegel Airport, Germany","Zurich Airport, Switzerland",3,12,9,0,CH-170
19,"Le Bourget, Paris, France","Abridge Aerodrome, Essex, United Kingdom",1,7,6,0,G-ACPM
20,"Cheyenne, Wyoming","Salt Lake City, Utah",3,12,9,0,NC13317
21,"Croydon Airport, United Kingdom","Brussels Airport, Belgium",2,11,9,0,OO-AGN
22,"Little Rock National Airport, Little Rock, Ark...","Memphis Municipal Airport, Memphis, Tennessee",3,17,14,0,NC14274
23,Los Angeles,"Newark, New Jersey",3,12,11,2,NC-13721
24,TromsÃ¸,Bergen,4,7,3,0,LN-DAE
25,"Midway Airport, Chicago, Illinois,","Lambert St. Louis Airport, St. Louis, United S...",2,8,6,0,NC16022
26,Amsterdam-Schiphol Municipal Airport (AMS/EHAM...,"Croydon Air Port, Croydon, United Kingdom",4,15,13,2,PH-AKL
27,"Los Angeles, California","San Francisco, California",3,12,9,0,NC13355
28,"Burbank, California","Salt Lake City, Utah",3,5,10,8,NC13315
29,"Sydney Airport, Sydney","Archerfield Airport, Brisbane",2,5,5,3,VH-UHH
...,...,...,...,...,...,...,...
1035,San Francisco International Airport,Incheon International Airport,16,3,291,304,HL7742
1036,"Bear Mountain Lodge, Chinitna Bay, Nikiski, Al...",Soldotna Airport,1,10,9,0,no data
1037,Birminghamâ€“Shuttlesworth International Airport,Louisville International Airport,2,2,0,0,N155UP
1038,"Akure Airport, Ondo State","Murtala Mohammed Airport, Lagos",7,15,13,5,5N-BJY
1039,"Pakse International Airport, Laos","Wattay International Airport, Vientiane, Laos",5,49,44,0,RDPL-34233
1040,"Kazan International Airport, Kazan, Tatarstan,...","Domodedovo International Airport, Moscow Oblast",6,50,44,0,VQ-BBN
1041,"Quatro de Fevereiro Airport, Luanda, Angola","Maputo International Airport, Maputo, Mozambique",6,33,27,0,C9-EMC
1042,"Jumla Airport, Nepal","Pokhara Airport, Nepal",3,18,15,0,9N-ABB
1043,"Malpensa Airport, Italy","Addis Ababa Bole International Airport, Ethiopia",9,0,193,202,ET-AMF[3]
1044,Beijing Capital International Airport,Kuala Lumpur International Airport,12,239,227,0,9M-MRO
1045,Kuala Lumpur International Airport,Amsterdam Airport Schiphol,15,298,283,0,9M-MRD
1046,Magong Airport,Kaohsiung International Airport,4,48,54,10,B-22810
1047,"Houari Boumediene Airport, Algiers, Algeria","Ouagadougou Airport, Burkina Faso",6,116,110,0,EC-LTV
1048,Tabas Airport,Mehrabad International Airport,8,39,40,9,EP-GPA
1049,"Singapore Changi Airport, Singapore","Juanda International Airport, Surabaya, Indonesia",7,162,155,0,PK-AXC
1050,"Kinmen Airport, Kinmen, Taiwan","Taipei Songshan Airport, Songshan, Taipei, Taiwan",5,43,53,15,B-22816
1051,"LaGuardia Airport, New York City, United States",Hartsfieldâ€“Jackson Atlanta International Airpo...,5,0,127,132,N909DL
1052,"DÃ¼sseldorf Airport, DÃ¼sseldorf, Germany","Barcelonaâ€“El Prat Airport, Barcelona, Spain",6,150,144,0,D-AIPX
1053,"Halifax Stanfield International Airport, Halif...","Toronto Pearson International Airport, Toronto...",5,0,133,138,C-FTJP
1054,"Hiroshima Airport, Japan","Incheon International Airport, South Korea",8,0,74,82,HL7762
1055,"Istanbul AtatÃ¼rk Airport, Turkey","Milanâ€“Malpensa Airport, Italy",5,0,97,102,TC-JPE
1056,"Oksibil Airport, Oksibil, Indonesia (OKL/WAJO)","Sentani Airport, Jayapura, Indonesia",5,54,49,0,PK-YRN
1057,"LÃ©opold SÃ©dar Senghor International Airport, D...","Ouagadougou, Burkina Faso",3,7,4,0,6V-AIM
1058,"Gatwick Airport, Crawley, England",Las Vegas McCarran International Airport,13,0,157,170,G-VIIO
1059,"Sultan Hasanuddin International Airport, Makas...","Andi Jemma Airport, Masamba, Indonesia",3,10,7,0,PK-BRM
1060,"Caracas International Airport, MaiquetÃ­a, Vene...",Fort Lauderdaleâ€“Hollywood International Airpor...,11,0,90,101,N251MY
1061,"Pulkovo Airport, Saint Petersburg, Russia","Sharm el-Sheikh International Airport, Sinai P...",7,224,217,0,EI-ETJ
1062,"Paloich Airport, South Sudan","Juba International Airport, Juba, South Sudan",6,37,12,2,EY-406
1063,"TromsÃ¸ Airport, TromsÃ¸, Norway","Oslo Airport, Gardermoen, Oslo, Norway",2,2,0,0,SE-DUX
1064,Djiboutiâ€“Ambouli International Airport,"Aden Adde International Airport, Somalia",7,1,74,80,SX-BHS

# Part c
Which were the top 5 most deadly aviation incidents? Report the number of fatalities and the flight origin for each.

In [12]:
deadliest = scraped_df.sort('Number of Fatalities')
deadliest.tail(5)

/Users/Yarikan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Destination,Flight Origin,Number of Crew,Number of Fatalities,Number of Passengers,Number of Survivors,Registration
1045,Kuala Lumpur International Airport,Amsterdam Airport Schiphol,15,298,283,0,9M-MRD
513,"Jeddah International Airport\nJeddah, Saudi Ar...","Quaid-e-Azam Int'l Airport\nKarachi, Pakistan",14,301,287,0,HZ-AHK
581,"Indira Gandhi Int'l Airport\nNew Delhi, India",Toronto (as Flight 181) MontrÃ©al-Mirabel Int'l...,22,329,307,0,VT-EFO
425,"London Heathrow Airport\nLondon, United Kingdom","YesilkÃ¶y Int'l Airport\nIstanbul, Turkey",11,346,335,0,TC-JAV
584,"Osaka Int'l Airport, Itami","Haneda Airport, Tokyo",15,520,509,4,JA8119

In [ ]:
# The 5 deadliest aviation incidents originated from the following locations, starting with the deadliest:

# Haneda Airport, Tokyo with 520 fatalities.
# Yesilkoy International Airport, Istanbul with 346 fatalities.
# Toronto (as Flight 181) and then MontrÃ©al-Mirabel Int'l Airport Montreal, Canada with 329 fatalities.
# Quaid-e-Azam International Airport, Karachi, Pakistan with 301 fatalities.
# Amsterdam Airport Schiphol with 298 fatalities.

# Part d
Which flight origin has the highest number of aviation incidents in the last 25 years?

In [23]:
most_accidents = scraped_df.groupby('Flight Origin')
single_most_accidents_df = most_accidents['Flight Origin'].agg('count')
single_most_accidents_df.sort_values().tail(2)

Flight Origin
London Heathrow Airport     10
no data                    127
Name: Flight Origin, dtype: int64

In [ ]:
# In the last 25 years, flights leaving from London Heathrow Airport have had the highest number of aviation incidents.

# Part e
Save this Dataframe as JSON and commit to your repo, along with the notebook / python code used to do this assignment.

In [15]:
scraped_df.to_json('crashesfinal.json')